@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

:root {
    --color-1:  #ecf0f1;
    --color-2:  #2c3e50;
    --color-3:  #95a5a6;
}

* { box-sizing: border-box; }

body {
    padding: 50px;
    margin: 0;
    width: 100vw;
    overflow-x: hidden; 
    background-color: #fff;
    color: #000;
    font-family: Padauk;
    font-size: 1rem;
}

section {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    background-color: inherit;
    margin-bottom: 50px;
    max-width: 50vw;
    max-width: 680px;
}

button, ul, li, a, p {
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

h6 h5, h4, h3, h2, h1 {
    margin-top: 0;
}

p {
    margin-bottom: 24px;
}

.row {
    width: 100%; 
    display: flex; 
    justify-content: 
    space-between;
    margin-bottom: 50px;
    background-color: inherit;
}